* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', 'Open Sans', sans-serif;
    background-color: #ffffff; /* #f1e1cc - Magnolia */
    color: #313132;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  html {
    scroll-behavior: smooth;
  }

/* TRANSITION */

a, .dropdown
.btn {
  transition: all 300ms ease;
}


/* Homepage */


/* Header */

.header {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header p {
    padding-left: 20px;
    color: #46a0c6;
}

.logo {
    padding-top: 5px;
    width:  60px; /* Adjust the width as needed */
    height: 70px; /* Maintain aspect ratio */
}


/* Navbar */
nav,
.nav-links {
  display: flex;
}

.nav, .desktop-nav, .nav-links, .navbar{
    width: 100%;
}


.nav-links {
    display: flex;
    list-style: none;
    font-size: 1rem;
    background-color: #01acf5;
}

.nav-links li {
    border-bottom: 5px solid#032432;
    flex: 1;
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    color: #01acf5;
    align-items: c;
}

.dropdown {
    padding: 10px;
    position: relative;
    color: black;
    text-decoration: none;
    color: white;
    background-color: #01acf5;
}

.dropdown p {
    text-align: center;
    align-items: center;
}
  
.dropdown:hover {
    
    background-color:  #01acf5;
    color: white;
    text-decoration-color: white;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu::after {
    content: '▼';
    font-size: 8px;
}

.dropdown-home {
    text-align: center;
}

.home-link{
    text-decoration: none;
    color:white;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    width: 100%; 
    left: -0.001px;
    font-size: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown .dropdown-content a {
    text-align: center;
}

.dropdown:hover .dropdown-content {
    margin-top: 10px;
    display: grid;
    background-color:#01acf5;
}

.dropdown:hover .dropdown-content a {
    padding: 15px;
    text-decoration: none;
    color:white;
    transition: all 150ms ease;
}

.dropdown:hover .dropdown-content a:hover {
    color:aliceblue;
    background-color:#135775;
}



/* Aim and Objectives */

.study-procedure {
    margin-top: 30px;
}

.study-procedure h1{
    padding: 20px;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px #6e6b6b;
    
}

.study-procedure p{
    font-family: monospace, sans-serif;
}

.row {
    display: flex;
}

.row h1{
    text-align: center;
    flex: 1;
    padding: 10px;
}

.row li {
    padding: 10px;
    flex: 1;
    border-bottom: 2px solid #6e6b6b;
    font-family: monospace, sans-serif;
}

.row li p {
    padding-left: 10px;
}

.team{
}

.team h1{
    margin-top: 30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px #6e6b6b;
}

.team-members{
    display: grid;
    grid-template-columns: auto auto auto;
}

.member{
    text-align: center;
    padding: 10px;
    display: block;
}
.member img{
    border-radius: 50%;
}


/* Timeline */

.timeline{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 30px;
    background-color: #46a0c6;
}

.timeline h1{
    text-shadow: 1px 1px #6e6b6b;
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}

.resources{
    text-align: center;
    margin-bottom: 20px;
}

.resources li{
    padding: 15px;
}

.resources a{
    text-decoration: none;
    color: blue;
}

/* Footer */

footer{
    border-top: 2px solid;
}
.contact-us{
    padding: 30px;
    background-color: #9bddfa;
}
.contact-us p, h3{
    text-align: center;
}

.copyright{
    text-align: center;
    padding: 20px;
}

